{% extends 'base.html'   %}

{% block title %}
    Livros
{% endblock %}

{% block title_page %}
    Livros
{% endblock %}

{% block content %}
    {% for livro in livros %}
        {% if livro.quantidade > 0 %}
            <div class="livro">
                <img src="../../static/imagens/livros/{{livro.id}}.jpg" alt="">
                <span>
                    <h1>{{livro.titulo}}</h1>
                    <h2>{{livro.autor}}</h2>
                    <p>Editora: {{livro.editora}}</p>
                    <p>Gênero: {{livro.genero}}</p>
                    <p>Data de publicação: {{livro.ano_publicacao}}</p>
                    <p>Resumo: {{livro.resumo}}</p>
                    <button><a href="{{ url_for('emprestimo.register_emprestimo', livro_id=livro.id) }}">Reservar</a></button>
                </span>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}