* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --cor1: #101C3A;
    --cor2: #1D2F60;
    --cor3: #1D365C;
    --cor4: #3B4B6D;
    --cor5: #405487;
    --cor5: #5F76B1;
}

body {
    background: #405487;
    background: linear-gradient(207deg,rgba(64, 84, 135, 0.92) 5%, rgba(64, 84, 135, 1) 30%, rgb(25, 47, 80) 75%);
    min-height: 100vh;
}

h1 {
    font-family: 'Braah One';
    color: white;
    font-size: 40px;
}

h2 {
    font-family: 'Braah One';
    color: white;
}

li {
    list-style: none;
}

/* NAVBAR */
nav {
    background-color: #1D2F60;
    height: 120px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
nav img{
    height: 14vh;
    width: 12vw;
    min-width: 100px;
    max-width: 120px;
}
nav ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
nav ul li{
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
nav ul li a {
    color: #1D365C;
    text-decoration: none;
    background-color: white;
    padding: 6px 28px;
    border-radius: 10px;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 35px;
    gap: 30px;
}



/* FORMS */
form {
    background-color: #101C3A;
    display: flex;
    flex-direction: column;
    padding: 26px;
    width: 300px;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    gap: 8px;
    height: 350px;
}
label {
    align-self: flex-start;
    font-family: 'Braah One';
    color: white;
    font-size: 18px;
}
input {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 4px;
    padding: 5px;
    outline: none;
}
form button{
    width: 100%;
    font-family: 'Braah One';
    font-size: 18px;
    color: #101C3A;
    background-color: white;
    border-radius: 10px;
    border: 0;
    padding: 4px;
    margin-top: auto;
}
form select {
    width: 100%;
    background-color: white;
    padding: 5px;
}
form option {
    padding: 10px;
    font-family: 'Baah One', sans-serif;
}


/* INDEX */
#apresentacao {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
#apresentacao span {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#apresentacao h1 {
    font-size: 70px;
    align-self: flex-start;
}
#apresentacao p{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
}
#apresentacao img{
    height: 100%;
    max-width: 500px;
}
#apresentacao button{
    background-color: white;
    font-size: 24px;
    font-family: 'Braah One';
    border: 0;
    padding: 10px 30px;
    border-radius: 16px;
    margin-top: 20px;
}
#apresentacao button a{
    text-decoration: none;
    color: #101C3A;
}
#sobre {
    background-color: #3B4B6D;
    font-family: 'Braah One';
    color: white;
    padding: 20px;
    width: 100%;
    text-align: justify;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#sobre span {
    display: flex;
    align-items: center;   
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: center;
}
#sobre span ul {
    display: flex;
    gap: 15px;
}
#sobre > h2{
    margin: 30px 0;
}
#sobre p {
    font-family: 'Braah One', sans-serif;
}
#sobre li{
    background-color: #5F76B1;
    border: 0;
    padding: 20px 40px;
    border-radius: 16px;
}
span > h2{
    margin-top: 20px;
}
#sobre a{
    color: white;
    text-decoration: none;
    font-family: 'Braah One';
    font-size: 18px;
}

/* TABELA LIVROS */
table {
    width: 90%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px #00000026;
    font-family: "Inter", sans-serif;
    text-align: center;
}

thead tr {
    background-color: var(--cor1);
}

th {
    text-align: center;
    padding: 14px 10px;
    color: white;
    font-size: 18px;
    font-family: 'Braah One', sans-serif;
    letter-spacing: 1px;
}

tbody tr:nth-child(even) {
    background-color: #eef2f9;
}

td {
    border-bottom: 1px solid #c5cde0;
    padding: 12px 10px;
    color: var(--cor1);
    font-size: 16px;
}

table button {
    background-color: var(--cor2);
    font-family: 'Braah One';
    border: 0;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

table a {
    text-decoration: none;
    color: white;
}


/* PERFIL */
.button-perfil {
    background-color: var(--cor2);
    font-family: 'Braah One';
    border: 0;
    padding: 10px 30px;
    border-radius: 16px;
}
.button-perfil a{
    text-decoration: none;
    color: white;
}
#dados-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor2);
    text-align: center;
    gap: 15px;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
}
#dados-perfil ul {
    display: flex;
    gap: 10px;
}
#dados-perfil li {
    font-family: "Inter", sans-serif;
    align-self: self-start;
}
#dados-perfil img {
    width: 150px;
    height: 100%;
}

@media screen and (max-width: 768px) {
    #apresentacao {
        justify-content: center;
        text-align: center;
    }
    #apresentacao img {
        max-width: 250px;
    }
}