* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --cor1: #101C3A;
    --cor2: #1D2F60;
    --cor3: #1D365C;
    --cor4: #3B4B6D;
    --cor5: #405487;
    --cor5: #5F76B1;
}

body {
    background: #405487;
    background: linear-gradient(207deg,rgba(64, 84, 135, 0.92) 5%, rgba(64, 84, 135, 1) 30%, rgb(25, 47, 80) 75%);
    min-height: 100vh;
}

h1 {
    font-family: 'Braah One';
    color: white;
    font-size: 40px;
}

h2 {
    font-family: 'Braah One';
    color: white;
}

li {
    list-style: none;
}

/* NAVBAR */
nav {
    background-color: #1D2F60;
    height: 120px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
nav img{
    height: 14vh;
    width: 12vw;
    min-width: 100px;
    max-width: 120px;
}
nav ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
nav ul li{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: 150px;
    background-color: white;
    padding: 6px 28px;
    border-radius: 10px;
    text-align: center;
}
nav ul li a {
    color: #1D365C;
    text-decoration: none;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 35px;
    gap: 30px;
}



/* FORMS */
form {
    background-color: #101C3A;
    display: flex;
    flex-direction: column;
    padding: 26px;
    width: 300px;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    gap: 8px;
    height: 350px;
}
label {
    align-self: flex-start;
    font-family: 'Braah One';
    color: white;
    font-size: 18px;
}
input {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 4px;
    padding: 5px;
    outline: none;
}
form button{
    width: 100%;
    font-family: 'Braah One';
    font-size: 18px;
    color: #101C3A;
    background-color: white;
    border-radius: 10px;
    border: 0;
    padding: 4px;
    margin-top: auto;
}
form select {
    width: 100%;
    background-color: white;
    padding: 5px;
}
form option {
    padding: 10px;
    font-family: 'Baah One', sans-serif;
}


/* FLASH */
#success, #error {
    font-family: 'Braah One', sans-serif;
    color: #101C3A;
    padding: 15px;
    width: 500px;
    border-radius: 15px;
}

#success {
    background-color: var(--cor5);
}

#error {
    background-color: #874040;
    color: white;
}


/* INDEX */
#apresentacao {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
#apresentacao span {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#apresentacao h1 {
    font-size: 70px;
    align-self: flex-start;
}
#apresentacao p{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
}
#apresentacao img{
    height: 100%;
    max-width: 500px;
}
#apresentacao button{
    background-color: white;
    font-size: 24px;
    font-family: 'Braah One';
    border: 0;
    padding: 10px 30px;
    border-radius: 16px;
    margin-top: 20px;
}
#apresentacao button a{
    text-decoration: none;
    color: #101C3A;
}
#sobre {
    background-color: #3B4B6D;
    font-family: 'Braah One';
    color: white;
    padding: 20px;
    width: 100%;
    text-align: justify;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#sobre span {
    display: flex;
    align-items: center;   
    justify-content: center;
    flex-direction: column;

    width: 100%;
    text-align: center;
}
#sobre span ul {
    display: flex;
    gap: 15px;
}
#sobre h2{
    margin: 30px 0;
}
#sobre p {
    font-family: 'Braah One', sans-serif;
}
#sobre li{
    background-color: #5F76B1;
    border: 0;
    padding: 20px 40px;
    border-radius: 16px;
}
#sobre a{
    color: white;
    text-decoration: none;
    font-family: 'Braah One';
    font-size: 18px;
}

#livro_apresentacao {
   background-color: white;
   padding: 25px;
   border-radius: 15px; 
   box-shadow: 0 4px 10px #00000026;
   display: flex;
   gap: 15px;
   color: var(--cor1);
   font-family: 'Braah One', sans-serif;
}

#livro_apresentacao div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20%;
}

#livro_apresentacao img {
    width: 100%;
    border-radius: 15px;
}

#livro_apresentacao button {
    background-color: var(--cor2);
    font-family: 'Braah One';
    border: 0;
    padding: 8px 20px;
    border-radius: 10px;
    margin-top: auto;
}

#livro_apresentacao a {
    text-decoration: none;
    color: white;
}


/* TABELA LIVROS */
table {
    width: 90%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px #00000026;
    font-family: "Inter", sans-serif;
    text-align: center;
}



thead tr {
    background-color: var(--cor1);
}

th {
    text-align: center;
    padding: 14px 10px;
    color: white;
    font-size: 18px;
    font-family: 'Braah One', sans-serif;
    letter-spacing: 1px;
}

tbody tr:nth-child(even) {
    background-color: #eef2f9;
}

td {
    border-bottom: 1px solid #c5cde0;
    padding: 12px 10px;
    color: var(--cor1);
    font-size: 16px;
}

table button {
    background-color: var(--cor2);
    font-family: 'Braah One';
    border: 0;
    padding: 8px 20px;
    border-radius: 10px;
}

table a {
    text-decoration: none;
    color: white;
}


/* PERFIL */
.button-perfil {
    background-color: var(--cor2);
    font-family: 'Braah One';
    border: 0;
    padding: 10px 30px;
    border-radius: 16px;
}
.button-perfil a{
    text-decoration: none;
    color: white;
}
#dados-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor2);
    text-align: center;
    gap: 15px;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
}
#dados-perfil ul {
    display: flex;
    gap: 10px;
}
#dados-perfil li {
    font-family: "Inter", sans-serif;
    align-self: self-start;
}
#dados-perfil img {
    width: 150px;
    height: 100%;
}

/* LIVROS */
.livro {
    display: flex;
    width: 100%;
    gap: 25px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
}
.livro h1, h2 {
    color: var(--cor1);
}
.livro img {
    max-width: 350px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 10px #00000026;
}
.livro button {
    background-color: var(--cor2);
    font-family: 'Braah One';
    border: 0;
    padding: 8px 20px;
    border-radius: 10px;
    width: 100px;
}
.livro a {
    text-decoration: none;
    color: white;
}
.livro span {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    #apresentacao {
        justify-content: center;
        text-align: center;
    }
    #livro_apresentacao {
        flex-direction: column;
        background: none;
        box-shadow: none;
        padding: 0;
        text-align: center;
    }
    #livro_apresentacao div {
        align-items: center;
        width: 100%;
        background-color: white;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 4px 10px #00000026;
    }
    #livro_apresentacao img {
        height: 100%;
        max-width: 100%;
    }
    .livro {
        flex-direction: column;
        align-items: center;
    }
    .livro img{
        max-width: 100%;
    }
    .livro button {
        width: 100%;
    }
    #sobre a {
        font-size: 1em;
    }
    nav {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 10px;
    }

    nav img {
        width: 40vw;
        height: auto;
        max-width: 150px;
    }

    nav ul {
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    
    nav ul li {
        background: none;
        padding: 10px;
        width: auto;
        padding: 0;
    }

    nav ul li a {
        position: relative;
        color: white;
        text-decoration: none;
    }

    nav ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px; 
        width: 0%;
        height: 2px;
        background-color: var(--cor5);
        transition: width 0.3s ease;
    }

    nav ul li a:hover::after {
        width: 100%;
    }

    .table {
    width: 100%;
    overflow-x: scroll;
    }
    .table::-webkit-scrollbar {
        height: 10px;     
        width: 10px;      
    }

    .table::-webkit-scrollbar-track {
        background: #c5cde0; 
        border-radius: 10px;
    }

    .table::-webkit-scrollbar-thumb {
        background-color: var(--cor2);
        border-radius: 10px;
        border: 2px solid #c5cde0;
    }

    .table::-webkit-scrollbar-thumb:hover {
        background-color: var(--cor1);
    }

    table {
        min-width: 600px; 
    }

    th, td {
        padding: 10px;
        font-size: 14px;
        white-space: nowrap; 
    }
}