{% extends 'base.html' %}

{% block title %}
    Bibliotecla
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div id="livro_apresentacao">
            {% for livro in livros %}
                {% if livro.quantidade > 0 %}
                    <div>
                        <img src="../static/imagens/livros/{{livro.id}}.jpg" alt="">
                        <h2>{{livro.titulo}}</h2>
                        <h3>{{livro.autor}}</h3>
                        <button><a href="{{ url_for('emprestimo.register_emprestimo', livro_id=livro.id) }}">Reservar</a></button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div id="apresentacao">
            <span>
                <h1>Bem-vindo!</h1>
                <p>Organize seus empréstimos de livros de forma rápida e sem complicação.</p>
                <p>Cadastre-se e comece a usar a biblioteca online da escola agora mesmo!</p>
                <button><a href="{{ url_for('auth.cadastro')}}">Cadastrar</a></button>
            </span>
            <img src="../static/imagens/logo/logo.svg" alt="">
        </div>
    {% endif %}
    <div id="sobre">
        <h2>Sobre o Sistema</h2>
        <p>
            Este site foi criado para facilitar o controle de empréstimos de livros
            e materiais literários da escola. Ele substitui o registro manual em 
            cadernos ou planilhas, evitando erros, perda de informações e garantindo 
            mais organização.
        </p>
        <p>
            Aqui, alunos, professores e a equipe da biblioteca podem registrar empréstimos, 
            marcar devoluções, consultar o histórico e cadastrar novos livros de forma 
            simples e rápida.
        </p>

        <span>
            <h2>Realize cadastro ou login!</h2>
            <ul>
                <li><a href="{{ url_for('auth.cadastro')}}">Cadastro</a></li>
                <li><a href="{{ url_for('auth.login')}}">Login</a></li>
            </ul>
            
        </span>
    </div>
{% endblock %}