{% extends 'base.html' %}

{% block title %}
    Alterar senha
{% endblock %}

{% block title_page %}
    Alterar senha
{% endblock %} 

{% block content %}
    <form action="{{url_for('perfil.alterar_senha')}}" method="post">
        <label for="senha">Nova Senha:</label>
        <input type="password" name="senha" id="senha" required>
        <label>Senha atual:</label>
        <input type="password" name="senha_ant" id="senha_ant" required>
        <button type="submit">Enviar</button>
    </form>
{% endblock %}