{% extends 'base.html' %}

{% block title %}
    Editar Perfil
{% endblock %}

{% block title_page %}
    Editar Perfil
{% endblock %}

{% block content %}
    <h2>Editar Perfil</h2>
    <form action="{{ url_for('perfil.editar_perfil', user_id=user.id) }}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" value="{{ user.nome }}" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{ user.email }}" required>
    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" placeholder="Digite uma nova senha" required>
    <button type="submit">Salvar</button>
    </form>
{% endblock %}
